<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DEFKimya - <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
        </div>
    </footer>